*.pdf filter=lfs diff=lfs merge=lfs -text
ablauf_minimax_abp.png filter=lfs diff=lfs merge=lfs -text
image.png filter=lfs diff=lfs merge=lfs -text
image-7.png filter=lfs diff=lfs merge=lfs -text
image-10.png filter=lfs diff=lfs merge=lfs -text
image-12.png filter=lfs diff=lfs merge=lfs -text
image-2.png filter=lfs diff=lfs merge=lfs -text
image-3.png filter=lfs diff=lfs merge=lfs -text
image-4.png filter=lfs diff=lfs merge=lfs -text
ablauf_minimax.png filter=lfs diff=lfs merge=lfs -text
image-9.png filter=lfs diff=lfs merge=lfs -text
image-11.png filter=lfs diff=lfs merge=lfs -text
image-13.png filter=lfs diff=lfs merge=lfs -text
4x5_field_abp_test.png filter=lfs diff=lfs merge=lfs -text
8x8_field_abp_test.png filter=lfs diff=lfs merge=lfs -text
image-1.png filter=lfs diff=lfs merge=lfs -text
image-5.png filter=lfs diff=lfs merge=lfs -text
image-6.png filter=lfs diff=lfs merge=lfs -text
image-8.png filter=lfs diff=lfs merge=lfs -text
